<div class="col-md-3 slim-button-wrapper">
   <a class="slim-button" href="/blog"><i class="fa fa-bullhorn"></i><span>Blog</span></a>
</div>
<div class="col-md-3 slim-button-wrapper">
   <a class="slim-button" href="/blog"><i class="fa fa-bullhorn"></i><span>Blog</span></a>
</div>
<div class="col-md-3 slim-button-wrapper">
   <a class="slim-button" href="/blog"><i class="fa fa-bullhorn"></i><span>Blog</span></a>
</div>
<div class="col-md-3 slim-button-wrapper">
   <a class="slim-button" href="/blog"><i class="fa fa-bullhorn"></i><span>Blog</span></a>
</div>
